html {
  background: url('/static/img/corkboard.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    overflow: hidden;
}

.column {
    display: inline;
    width: 49%;
}

#left-col {
    float: left;
}

#right-col {
    float: right;
}

.dash-item {
    -moz-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8), inset 0 0 0 black;
    -webkit-box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8), inset 0 0 0 #000;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.8), inset 0 0 0 #000;
}

#webcam {
    float: left;
    margin: 50px 20px 20px 50px;
    height: 384px;
    width: 512px;
}

#webcam img {
    height: 384px;
    width: 512px;
}

#map-canvas {
    float: right;
    margin: 25px 100px 20px 50px;
    width: 400px;
    height: 400px;
}

.notepad {
    background-color: #fff;
    margin: 50px 20px 90px 20px;
    padding: 0;
}

#tasks {
    float: right;
}

#events {
    float: left;
}

li {
    padding: 10px 0;
    width: 520px;
    border: 1px solid #b8e8e8;
    float: left;
    clear: left;
    list-style: none;
}

li span {
    float: left;
    padding: 5px 15px;
    position: relative;
    text-align: left;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
}

#events li span.date{
    width: 80px;
}

#events li span.time{
    width: 80px;
}

#events li span.summary{
    width: 280px;
}

li.both {
    color: black;
    font-weight: bold;
}

li.tina {
    color: #87268c;
}

li.eric {
    color: #ff8f00;
}

#tasks li span.due{
    width: 80px;
}

#tasks li span.title{
    width: 320px;
}
